.container {
    height: 400px;
    width: fit-content;
    padding: 20px;
    align-self: center;
    margin: auto;
  }
  
  .title {
    text-align: center;
    margin: 20px 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .input {
    height: 30px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
  }
  
  .btn {
    margin: 20px 0;
    width: 150px;
    align-self: center;
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: #0060df;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    margin-bottom: 0.5rem;
  }
  .addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0070f3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .addButton:hover {
    background-color: #0060df;
  }

  .formInput {
    border-radius: 10px;
  }
  .form input[type="checkbox"] {
    margin-left: 20px;
  }
  
