.container {
    height: 400px;
    width: fit-content;
    padding: 20px;
    align-self: center;
    margin: auto;
  }
  
  .title {
    text-align: center;
    margin: 20px 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .input {
    height: 30px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
  }
  
  .btn {
    margin: 20px 0;
    width: 180px;
    align-self: center;
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: #0060df;
  }

  .btn2 {
    margin: 20px 0;
    width: 180px;
    align-self: center;
    background-color: #78b7ff;
    color: #fff;
    border-radius: 5px;
  }
  .btn2:hover{
    background-color: #1d74e6;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    margin-bottom: 0.5rem;
  }
  .addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0070f3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
  }

  .addButton:hover {
    background-color: #0060df;
  }

  .formInput {
    border-radius: 10px;
    border-color: black;
    background-color: #d2e6fd;
  }
  .form input[type="checkbox"] {
    margin-left: 20px;
  }
  
  .label {
    font-size: 1.2em;
    font-weight: bold;
  }
  .addLessonButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.addLessonButton button {
  background-color: #4c86eb;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addLessonButton button:hover {
  background-color: #65b1f7;
}

.hiddenButton {
  display: none;
}

.buttonContainer {
  position: absolute;
  top: 10px;
  right: -170px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.innerButton1 {
  position: fixed;
  bottom: 20px;
  right: 80px;
  background-color: #0070f3;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.innerButton2 {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #0070f3;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;

}
.showButtons {
  opacity: 1;
}
.bigContainer {
  position: relative;
  height: 400px;
  width: fit-content;
  padding: 20px;
  margin-left: 10px; 
  flex-grow: 1;
}